node_modules
/.tmp
/.idea
/.sass-cache
.directory
app_design/bower_components/
/public/statics/
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
npm-debug.log
.DS_Store
Thumbs.db
.env.development.php