#about{

  .about-chenka{
    height: 300px;
    .intro-1{
      height: 300px;
      background-color: $colorvivo;
    }
    .intro-2{
      height: 300px;
      background-color: $colordark;
    }
    .dark{
      h1 {
        color: #d8d7dc;
      }
    }
  }

  .philosophy{
    height: 300px;
    .columns{
      background-color: #dedede;
      height: 300px;
    }
  }


}