#clients{
  height: 300px;
  .intro-clients{
    height: 300px;
    h1{
      color: black;
    }
    background-color: $colorvivo;
  }
  .list-clients{
    height: 300px;
    background-color: $colordark;
  }
  

}