#footer{
  display: block;
  float: left;
  width: 100%;
  background: $colordark;
  //line-height * n-lines + margin-top + margin-bottom = 80px
  .inner{
    @media #{$small-only} {
      max-width: 200px;
      margin: 20px auto;
      padding: 0 20px;
    }
    float: left;
    margin: 30px auto;
    padding: 0 40px;

  }

  p{
    width: auto;
    float: left;
    text-align: left;
    color: #666;
    font-size: 11px;
    line-height: 20px;
    clear: both;
    @media #{$small-only} {
      span.rights{
        max-width: 200px;
        width: 200px;
        display: block;
        clear: both;
      }
      a{
        display: none;
      }
    }
    a{
      color: $colorvivo;
      padding: 0;
      margin-left: 5px;
    }
  }

  .top {
    display: block;
    float: right;
    width: 80px;
    height: 80px;
    overflow: hidden;
    //text-indent: -9999em;
    //background-image: url(/theme/img/sprite.png);
    //background-repeat: no-repeat;
    //background-size: 500px auto !important;
    //background-position: -340px -405px;
    @media #{$small-only} {
      background-color: $colorvivo;
    }
    background-color: $colordarkgrey;


  }
}