$colorvivo: #fad419;
$colordark: #1e130f;
$colordarkgrey: #423e3f;
$font-clara:  #d8d7dc;
$color-first-service: #7c7b80;
$color-second-service: $colorvivo;
$color-thirth-service: #d6d5da;
$color-fourth-service: white;

